.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    height: 0px;
    width: 100%;
    transition: all 0.5s ease;
    min-width: 280px;

    z-index: 1;
}

.inverted {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.inverted .logoInv {
    transition: all 0.3s ease-in-out;
}

.noheader {
    height: 0;
    transition: all 0.5s ease-in-out;
}

.noheader .logoInv {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.noheader .logo {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.noheader .burgerMenu {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: var(--white);
    font-size: 25px;
    font-weight: 1000;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 20px;
    padding: 20 0px 0px 10px;
    letter-spacing: 0.05rem;
    transition: all 0.1s ease-in-out;
}

.logoInv {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: var(--black);
    font-size: 25px;
    font-weight: 1000;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 20px;
    padding: 20 0px 0px 10px;
    letter-spacing: 0.05rem;
}

.logo::first-letter {
    color: var(--yellow);
    font-weight: 1000;
    font-size: 35px;
}

.logoInv::first-letter {
    color: var(--yellow);
    font-weight: 1000;
    font-size: 35px;
}

.nav {
    margin-top: 10px;
    width: 100%;
    position: fixed;
    background-color: var(--white);
    overflow: hidden;
    max-height: 0;
    transition: all 0.4s ease-out;


}

.navlinks {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    justify-content: center;
}

.inverted .nav .navlinks a {
    color: var(--black);
    transition: letter-spacing 0.2s ease-in-out;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.navlinks li {
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    line-height: 55px;
    opacity: 100%;
    font-size: 13px;
}

.navlinks a:hover {
    letter-spacing: 0.15rem;
}

.navlinks a {
    position: relative;
    color: var(--black);
    transition: letter-spacing 0.2s ease-in-out;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.navlinks a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--yellow);
    letter-spacing: 0.15rem;
    transition: width 0.3s ease-in-out;
}

.navlinks a:hover::after {
    width: 100%;
}

.burgerMenu {
    cursor: pointer;
    float: right;
    align-items: center;
    justify-content: center;
    padding: 15px 10px 15px 10px;
    margin: 30px 30px 0px 10px;
    border-radius: 5px;
    background-color: var(--yellow);
    transition: all 0.1s ease-in-out;
}

.burgerMenu-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

.burgerMenu-line::before,
.burgerMenu-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.burgerMenu-line::before {
    top: 7px;
}

.burgerMenu-line::after {
    top: -7px;
}

.side-menu {
    display: none;
}

.side-menu:checked~nav {
    max-height: 100%;
    transition: all 1s ease-out;
}

.side-menu:checked~.burgerMenu .burgerMenu-line {
    background: transparent;
}

.side-menu:checked~.burgerMenu .burgerMenu-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.burgerMenu .burgerMenu-line::after {
    transform: rotate(45deg);
    top: 0;
}


/* DESKTOP */


@media (min-width: 768px) {

    .header {

        background-color: transparent;
        position: fixed;
        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
        z-index: 1;
    }

    .subHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1400px;
    }

    .inverted {
        background-color: white;
        position: fixed;
        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease-in-out;
        z-index: 1;
    }

    .inverted .logoInv {
        transition: all 0.3s ease-in-out;
    }

    .noheader {
        height: 0;
        transition: all 0.5s ease-in-out;
    }

    .noheader .logoInv {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    .noheader .logo {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    .noheader .nav .navlinks a {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    .noheader .burgerMenu {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    .logo {
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        color: var(--white);
        font-size: 25px;
        font-weight: 1000;
        text-transform: uppercase;
        margin-left: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 0 0 10px;
        margin-top: 0px;
        letter-spacing: 0.05rem;
    }

    .logoInv {
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        color: var(--black);
        font-size: 25px;
        font-weight: 1000;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding: 0 0 0 10px;
        letter-spacing: 0.05rem;

    }

    .nav {
        display: flex;
        position: static;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        transition: none;
        max-height: none !important;
        width: unset;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }

    .navlinks {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height: auto;
    }

    .navlinks li {
        border-bottom: none;
        text-align: left;
        line-height: normal;
        padding: 0px 50px 0px 0px;
        opacity: 100%;
        width: auto;
    }

    .navlinks a:hover {
        letter-spacing: 0.15rem;
        color: var(--yellow);
        font-weight: 700;
    }

    .navlinks a {
        position: relative;
        color: var(--white);
        transition: letter-spacing 0.2s ease-in-out;
        width: 100%;
        text-align: center;
        background-color: transparent;
    }

    .navlinks a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0%;
        height: 2px;
        background-color: var(--yellow);
        letter-spacing: 0.15rem;
        transition: width 0.3s ease-in-out;
    }

    .navlinks a:hover::after {
        width: 100%;
    }

    .burgerMenu {
        display: none;
    }

    .side-menu {
        display: none;
    }

    .side-menu:not(:checked)~nav {
        max-height: 100%;
        transition: all 0s;
    }
}