.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    min-width: 280px;

}

.footerElements {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}


.logoFooter {
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    font-size: 20px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.logoFooter::first-letter {
    color: var(--yellow);
    font-weight: 1000;
    font-size: 30px;
}

.footerTitleCopyright {
    display: flex;
    justify-content: center;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: var(--white);
    width: 100%;

}

.footerLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.locationTitle {
    display: flex;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 30px 0;
    color: var(--white);
    letter-spacing: 0.5px;
    justify-content: center;

}

.locationAddresses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--white);

}




.footerLocation li {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;

}


.footerLocation li:first-child {
    border-right: 1px solid rgba(250, 250, 250, 0.15);

}


.footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.infoContacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--white);

}


.footerInfo li {
    display: flex;
    text-align: center;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;

}

.footerInfo em {
    text-transform: capitalize;
    font-style: normal;
    font-weight: 600;
}




.footerSocials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0 0 30px 0;
}


.footerSocials ul {
    display: flex;
    flex-direction: row;
}

.footerSocials li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    line-height: 28px;
    text-align: center;
    background-color: var(--white);
    border-radius: 50%;
    color: var(--black);
    font-size: 15px;
    transition: all 0.3s;
    padding: 5px;
    margin: 3px;
}

.twitter {
    height: 15px;
    width: 15px;
}

@media (min-width:990px) {

    .footer {
        width: 100%;
        display: inline-block;
        margin-top: 0px;
        padding: 50px 0px 50px 0px;
        background-color: var(--gray);
        text-align: center;
        flex-direction: unset;
        box-sizing: content-box;


    }

    .footerElements {
        width: auto;
        max-width: 1200px;
        height: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        flex-direction: unset;
        padding: 0 30px 0 30px;

    }

    .footerTitle {
        display: inline-block;
        padding: 90px 50px 0 0px;
        /* vertical-align: bottom; */
        border-bottom: none;
        width: 100%;
        margin: 0;

    }

    .logoFooter {
        font-family: 'Open Sans', sans-serif;
        color: var(--white);
        font-size: 21px;
        font-weight: 1000;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        text-align: left;
    }

    .logoFooter::first-letter {
        color: var(--yellow);
        font-weight: 1000;
        font-size: 26px;
    }

    .footerTitleCopyright {
        display: inline-block;
        font-weight: 100;
        font-size: 13px;
        letter-spacing: 0.5px;
        line-height: 25px;
        color: var(--white);
        margin: 0;
        text-align: left;


    }

    .footerLocation {
        display: inline-block;
        padding: 90px 0px 0 0px;
        border-bottom: none;
        width: 100%;

    }

    .locationTitle {
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        margin: 0 0 50px 0;
        color: var(--white);
        letter-spacing: 0.5px;
        text-align: left;


    }

    .locationAddresses {
        display: flex;
        flex-wrap: unset;
        justify-content: left;
        color: var(--white);

    }

    .footerLocation li {
        display: block;
        flex-direction: unset;
        text-align: left;
        padding: 0px 0px 0px 10px;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.5px;
        width: 115px;

    }


    .footerLocation li:first-child {
        border-right: 1px solid rgba(250, 250, 250, 0.15);
        padding: 0px 10px 0px 0px;
        margin: 0px 5px 0px 0px;

    }



    .footerInfo {
        display: inline-block;
        padding: 60px 0px 0 0px;
        border-bottom: none;
        margin: 0 0 0 20px;
    }

    .infoContacts {
        display: block;
        color: var(--white);
        text-align: left;

    }

    .footerInfo li {
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.5px;
        width: 200px;

    }

    .footerSocials {
        display: inline-block;
        padding: 50px 0px 0 0px;
        width: 90%;

    }

    .footerSocials ul {
        display: flex;
        flex-direction: row;
    }

    .footerSocials li a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 22px;
        width: 22px;
        line-height: 28px;
        text-align: center;
        background-color: var(--white);
        border-radius: 50%;
        color: var(--black);
        font-size: 15px;
        transition: all 0.3s;
        padding: 5px;
        margin: 3px;
    }

    .twitter {
        height: 15px;
        width: 15px;
    }


}








@media (max-width:350px) {
    .footerLocation li:first-child {
        border-right: none
    }
}