@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url(./header.css);
@import url(./home.css);
@import url(./content.css);
@import url(./gallery.css);
@import url(./footer.css);
@import url(./caroussel.css);

:root {
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #373a3c;
    --yellow: #f7c552;
    --yellow2: #f89624;
    --blue: #3dc1cd;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
}

body {
    color: black;
    /* min-width: 280px; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}